@{
    ViewBag.Title = "Home Page";

}




<section class="section columns">
        <div id="weatherContent"></div>
        <div id="resumeContent"></div>
    <div id="newsTicker" style="position: fixed; bottom: 0; width: 100%;" class="column is-one-third"></div>
</section>


<script>var initialWeatherData = @Html.Raw(Json.Encode(Model.Weather));</script>
<script>var initialNewsData = @Html.Raw(Json.Encode(Model.News))</script>
<script src="@Url.Content("~/Resources/WeatherComponent/weather.jsx")"></script>
<script src="@Url.Content("~/Resources/Resume/resume.jsx")"></script>
<script type="module" src="@Url.Content("~/Resources/NewsTicker/News.jsx")"></script>